{<<"app">>,<<"chart_js">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"Phoenix LiveView Chart.js integration for reactive charts with real-time updates">>}.
{<<"elixir">>,<<"~> 1.18">>}.
{<<"files">>,[<<"lib">>,<<"assets">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Docs">>,<<"https://hexdocs.pm/chart_js">>},{<<"GitHub">>,<<"https://github.com/animus-coop/chart_js">>}]}.
{<<"maintainers">>,[<<"Julian Somoza">>]}.
{<<"name">>,<<"chart_js">>}.
{<<"requirements">>,[[{<<"app">>,<<"phoenix_live_view">>},{<<"name">>,<<"phoenix_live_view">>},{<<"optional">>,false},{<<"requirement">>,<<"~> 1.0.2">>}],[{<<"app">>,<<"jason">>},{<<"name">>,<<"jason">>},{<<"optional">>,false},{<<"requirement">>,<<"~> 1.2">>}]]}.
{<<"version">>,<<"0.1.0">>}.
{<<"keywords">>,[<<"phoenix">>,<<"liveview">>,<<"charts">>,<<"chartjs">>,<<"visualization">>,<<"reactive">>,<<"realtime">>]}.
